html, body {
	margin: 0;
	background-color: lightgray;
}
nav {
	text-align:center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	line-height: 100px;
	padding: 0;
	display: inline;
}

nav ul li {
	text-align: center;
	background-color: gray;
	border-bottom: 1px solid black;
	line-height: 60px;
	vertical-align: middle;
	display: inline-block;
}

nav ul li a:link {
	color: white;
	height: 60px;
	width: 80px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	display:inline-block;
}

nav ul li a:visited {
	color: green;
}

nav ul li:hover {
	transition: .8s;
	background-color: rgba(100, 100, 100, .2);
}

nav ul li a:active {
	color: yellow;
}