body {
	margin: 0;
	cursor: url('../img/cursor.png'), auto;
	background-image: url('../img/Snoop.gif');
	background-position: stretch;
}

#hornav ul {
	list-style-type: none;
	padding: 10px;
	margin-top: 10px;
	word-spacing: 0;
}

#hornav ul li {
	float: left;
}

#hornav ul li a {
	cursor: default;
	margin: 0;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 24px;
	background-image: url('../img/gradient.png');
	background-repeat: repeat-x;
	background-position: center;
}

#hornav ul li a:hover{
	color: purple;
	background-image: url('../img/OCEAN.jpg');
	background-color: #ddd;

}

#vernav {
	float: left;
}

#vernav ul {
	list-style-type: none;
	padding: 10px;
	margin-top: 10px;
	word-spacing: 10;
}

#vernav ul li a{
	cursor: default;
	display: block;
	margin: 0;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 24px;
	background-image: url('../img/gradient.png');
	background-repeat: repeat-x;
	background-position: center;
	
}
#vernav ul li a:hover{
	color: purple;
	background-image: url('../img/OCEAN.jpg');
	background-color: #ddd;

}


.clearfix {
	clear: both;
}











