div.jedan {
	background-color: lightgreen;
	border: 5px solid #ccc;
}

div.dva {
	background-color: lightblue;
	border: 5px dotted black;
}

span.jedan {
	background-color: red;
	margin-right: 40px;
}

span.dva {
	background-color: yellow;
	margin-left: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a:hover {
	background-color: red;
}


