body {
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	display: block;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid black;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	border-bottom: 1px solid transparent;
}

div:nth-of-type(2),
div:nth-of-type(3),
textarea,
select {
	margin-top: 10px;
}

select,
textarea,
input[type="submit"] {
	display: block;
}

p:first-of-type {
	border-top: 5px solid red;
}

p:last-of-type {
	border-bottom: 5px dashed green;
}

p:nth-of-type(even) {
	color: red;
}

p:nth-of-type(odd) {
	font-family: "Arial";
}

p:nth-of-type(5) {
	color: blue;
}

p:nth-of-type(2) span {
	background-color: orange;
}

p::selection {
	color: white;
	background-color: black;
}

body>:not(p) {
	border-left: 5px solid red;
}